{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}HackUPC{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}

        <!-- Your stuff: Third-party CSS libraries go here -->
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <!--external css-->
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'lineicons/style.css' %}">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

        <script src="{% static 'js/chart-master/Chart.js' %}"></script>


    {% endblock %}

</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>DOC SIGN</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                {% if request.user.is_authenticated %}
                    <li><a class="logout" href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="logout" href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                {% if request.user.is_authenticated and request.user.is_validated %}
                    <!-- <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p> -->
                    <h5 class="centered">{{ request.user.name }} {{ request.user.surname }}</h5>
                {% elif request.user.is_authenticated %}
                    <h5 class="centered">{{ request.user.email }}</h5>
                    <h5 class="centered" style="color: red">You need to verificate your identity</h5>
                    <p class="centered"><a href="{% url 'users:validate' request.user.username %}" role="button" class="btn btn-theme03">Verify My Identity</a></p>
                {% else %}
                    <p class="centered"><a href="{% url 'account_signup' %}" role="button" class="btn btn-theme03">Sign Up</a></p>

                {% endif %}
                <li class="mt">
                    <a id="proposals" href="{%  url 'home' %}">
                        <i class="fa fa-globe"></i>
                        <span>Proposals</span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="sub-menu">
                        <a id="profile" href="{% url 'users:detail' request.user.username %}">
                            <i class="fa fa-user"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    {% if request.user.is_validated %}
                        <li class="sub-menu">
                            <a id="my-proposals" href="{% url 'proposals:list' %}">
                                <i class="fa fa-tags"></i>
                                <span>My Proposals</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-12 main-chart">

                    {% block content %}
                    {% endblock %}
                </div>


            </div>
        </section>
    </section>

    <!--main content end-->
    <!--footer start
    <footer class="site-footer">
        <div class="text-center">
            2014 - Alvarez.is
            <a href="index.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    footer end-->
</section>




<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

    <!-- Your stuff: Third-party javascript libraries go here -->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>


    <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}"></script>
    <!-- place project specific Javascript in this file -->

{% endblock javascript %}
</body>
</html>

