{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

    <div class="row mt">
        <div class="col-md-12">
            {% if not object.is_validated %}
                <div class="col-md-6">
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>MY INFO</h5>
                        </div>
                        <p><img src="{% static 'img/default_profile.png' %}" class="img-circle" width="50"></p>
                        <p><b><i class="fa fa-envelope"></i> {{ object.email }} </b></p>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <p class="small mt">MEMBER SINCE</p>
                                <p>{{ object.member_since }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5 style="color: red">YOUR PROFILE IS NOT VERIFIED</h5>
                        </div>

                        <div class="row">
                            <p>To collaborate and vote proposals you have to submit your ID for verification. <br>
                                For every user, the ID must be unique.</p>
                        </div>
                        <div class="row">
                            <a class="btn btn-theme03" href="{% url 'users:validate' object.username %}" role="button">Validate Now</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="white-panel pn" style="height: 100%">
                    <div class="white-header">
                        <h5>MY INFO</h5>
                    </div>
                    <p><img src="{% static 'img/default_profile.png' %}" class="img-circle" width="50"></p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <b>Name:</b>{{ object.name }}
                            </div>
                            <div class="row">
                                <b>Surname:</b>{{ object.surname }}
                            </div>
                            <div class="row">
                                <b>ID Nº:</b>{{ object.document_id|upper }}
                            </div>
                            <div class="row">
                                <i class="fa fa-envelope"></i>{{ object.email }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="small mt">MEMBER SINCE</p>
                            <p>{{ object.member_since }}</p>
                        </div>
                        <div class="col-md-4" style="padding-right: 0">
                            <p class="small mt">VOTES ISSUED</p>
                            <p>57</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 style="color: black">My Sign</h5>
                            <img src="{{ object.sign_photo.url }}">

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script type="application/javascript">
        $('#profile').addClass('active');
    </script>
{% endblock javascript %}

