{% extends "base.html" %}
{% block content %}
    {% if not request.user.is_validated %}
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a role="button" class="btn btn-theme03" href="{% url 'proposals:create' %}">Add a proposal</a>
        </div>
    </div>
    {% endif %}
    {% for object in object_list %}
        <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <div class="content-panel pn">
                <div class="proposal">
                    <div class="prop-bg" style="background-image: url('{{ object.image.url }}')">
                        <div class="col-xs-4 col-xs-offset-8">
                            {% if not request.user|has_voted:object.pk %}
                                <button class="btn btn-sm btn-theme03" onclick="voteProposal({{ object.pk }})">VOTE</button>
                            {% endif %}
                        </div>
                        <div class="prop-title">
                            <h3>{{ object.title }}</h3>
                        </div>
                    </div>
                    <div class="prop-text">
                        <p>{{ object.description|truncatechars:25 }}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="prop-voters"><i class="fa fa-user"></i> {{ object.get_votes }} Votes</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <a role="button" class="btn btn-theme03" href="{% url 'proposals:detail' object.pk %}">See</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    {% csrf_token %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="application/javascript">
        $('#proposals').addClass('active');
        var user_id = {{ request.user.pk }};
        function voteProposal(proposal_id) {
            $.ajax({
                type: "POST",
                url: '/proposals/vote/' + proposal_id + '/',
                data:{
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    voter_id : user_id
                },
                success: function () {
                    window.location.reload();
                }
            });
        }
    </script>
{% endblock javascript %}
