{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="{{ object.image.url }}">
        </div>
        <div class="col-md-6">
            <h4><b>{{ object.title }}</b></h4>
            <p>{{ object.description }}</p>
        </div>
    </div>
    {% if object.created_by == request.user %}
        <div class="row" style="margin-top: 20px">
            <div class="col-md-1 ">
                <a role="button" class="btn btn-theme" href="{% url 'proposals:update' object.pk %}">Edit</a>
            </div>
            <div class="col-md-1">
                <button data-toggle="modal" data-target="#myModal" class="btn btn-theme04">Delete</button>
            </div>
        </div>
    {% endif %}

    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete this Proposal</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url 'proposals:delete' object.pk %}" >
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Yes</button>
        </form>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock content %}


{% block javascript %}
    {{ block.super }}
    {% if object.created_by == request.user %}
        <script type="application/javascript">
            $('#my-proposals').addClass('active');
        </script>
    {% else %}
        <script type="application/javascript">
            $('#proposals').addClass('active');
        </script>
    {% endif %}
{% endblock javascript %}
